{% extends 'admin_base.html' %}
{% block content %}
{%load static%}

  <style media="screen">
   a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .menu {
      top: 50px;
    }
    h6 {
      color: white;
    }
    .bor{
    padding:1%; margin-left:2%; border:1px solid transparent;border-radius:4px; border-color:#337ab7;
    }
    .tableFixHead          { overflow-y: auto; height: 470px; }
    .tableFixHead thead th { position: sticky; top: 0; }
    .tableFixHead h6 { position: sticky; }
    th{
      background-color: white;
    }

  </style>

  <script src="{% static 'js/sort.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/sort.css' %}">
<br><br><br>
{% include 'messages.html' %}
<div class="container">
  <div class="bor">
    <div class="tableFixHead">
      <h6 class="bg-info" style="padding:10px; text-align:center;">Employees Record
      <a style="float:right; text-decoration: none; color:white" href="/admin-view-employee">Reset</a>
      </h6>
       <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th onclick="sortTable(0)" class="headerSortDown">Name</th>
          <th>Profile Picture</th>
          <th onclick="sortTable(0)" class="headerSortDown">Mobile</th>
          <th onclick="sortTable(0)" class="headerSortDown">Email</th>
          <th onclick="sortTable(0)" class="headerSortDown">Address</th>
          <th onclick="sortTable(0)" class="headerSortDown">Mode of Working</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for e in employees %}
      <tr>
        <td> {{e.get_name}}</td>
        <td> <center>
          {% if e.profile_pic %}
          <img src="{{ e.profile_pic.url }}" alt="Profile Pic missing" height="40px" width="40px" />
          {% else %}
          No Profile Pic
          {% endif %}
        </center></td>
        <td>{{e.mobile}}</td>
        <td>{{e.email}}</td>
        <td>{{e.address}}</td>
        <td>{{e.mode}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'admin-update-employee' e.id  %}">
          <!-- Edit icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </a></td>

        <td><a class="btn btn-danger btn-xs" href="{% url 'admin-delete-employee' e.id  %}"
                onclick="return confirm('Are you sure you want to delete this?')">
          <!-- Trash icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline>
            <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line>
            <line x1="14" y1="11" x2="14" y2="17"></line></svg>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

  </div>

{% endblock content %}
