<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
    .f-left {
      float: left;
    }

    .f-right {
      float: right;
    }
    </style>
</head>
<body>

  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      {% if employee.profile_pic %}
      <img src="{{employee.profile_pic.url }}" alt="Profile Pic missing" />
      {% else %}
          No Profile Pic
      {% endif %}
      <br><br>
      <h6 style="color:white;">Employee</h6>
      <h2>{{request.user.first_name}}</h2>
    </header>
    <ul>

      {% if employee.department == "Reception"%}
      <a style="color:white; text-decoration:none;" href="/reception-dashboard"><li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li></a>
      {% endif %}



    </ul>
  </nav>

</body>
</html>